<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matching game</title>
        <meta name="description" content="here are three types of presents, and people like either one or two of them. Give people their favorite presents, with as few mismatches as possible."/>
        <meta name="keywords" content="recommender system, match making"/>
        <meta name="author" content="Ruben Naeff" />
        <meta name="copyright" content="Ruben Naeff" />
        <meta name="robots" content="index"/>
        <meta name="robots" content="follow"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" href="/static/css/normalize.css"/>
        <link rel="stylesheet" href="/static/css/skeleton.css"/>
        <link rel="stylesheet" href="/static/css/recsys.css"/>

    </head>
    <body>
    <div class="container">

            <div style="clear: both">
                &nbsp;

                {% block content%}{% endblock %}

            </div>

        </div>
    </body>
</html>
